<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
             <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class="title">Welcome {{displayname}}</h1>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/posts">
          Posts
        </ion-item>

        <ion-item menu-close ng-click="login()" ng-show="loginstatus == null">
          <i class="icon ion-chatbubble-working" ></i> Login
        </ion-item>

        <ion-item menu-close ng-click="logout()" ng-show="loginstatus != null">
          <i class="icon ion-mic-a"></i> Logout
        </ion-item>

        <ion-item menu-close href="" ng-show="loginstatus != null">
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>


        <!--<ion-item menu-close href="#/app/browse">-->
          <!--Browse-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/playlists">-->
          <!--Playlists-->
        <!--</ion-item>-->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
