<ion-view view-title="{{post.title}}">
  <ion-content class="padding">
  <h1 class="title posttitle">{{post.title}}</h1>
    <ion-list>
      <ion-item ng-repeat="post in reapter">
        <h3 class="postcontent subhead">{{post.title | htmlToPlaintext}}</h3>
        <img ng-src="{{post.post_image.url}}" class="postimage"/>




        <p class="postcontent" ng-bind-html="post.post_content | htmlToPlaintext"></p>
    </ion-item>
    </ion-list>
  <div ng-bind-html="author"></div>
  </ion-content>
</ion-view>
