<ion-view view-title="{{post.title}}">
  <ion-content class="padding">
  <h1 class="title posttitle">{{post.title}}</h1>

      <p class="commentcontent" ng-bind-html="post.content"></p>

      <Cebter>Comments</Cebter>

      <ion-list>
            <ion-item ng-repeat="comment in comment">
            <p class="commentcontent" ng-bind-html="comment.content | htmlToPlaintext"></p>
      </ion-item>
      </ion-list>

      <ion-item menu-close ng-click="login()" ng-show="loginstatus == null">
          <i class="icon ion-chatbubble-working" ></i> Login
      </ion-item>


      <ion-item menu-close ng-click="" ng-show="loginstatus != null">
          <form ng-submit="submit()"  ng-controller="PostCommentCtrl">
              <div class="list">
                  <label class="item item-input">
                      <span class="input-label">Comment</span>
                      <input type="text" ng-model="Comment.text" value="">
                  </label>



                  <label class="item">
                      <button class="button button-block button-positive" type="submit" name="submit" >Submit</button>
                  </label>
              </div>
          </form>

      </ion-item>



</ion-content>
</ion-view>
