<ion-view view-title="Posts">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in posts" href="#/app/posts/{{post.ID}}">
        {{post.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



