/* Empty. Add your own CSS if you like */
.postimage{width: 100%; border: 1px solid #0c63ee;}
.posttitle{font-size: 20px;
text-align: center;
font-weight: bold;
color: rgb(12, 99, 238);}
.postcontent{overflow: visible;
    text-overflow: ellipsis;
    white-space: normal !important;
    width: auto;
    height: auto;
    text-align: center;
    word-spacing: -2px;
}
.subhead{text-align: center;
    font-weight: bold;
    color: rgb(12, 99, 238);
}

.bar.bar-stable {
    margin: 0px;
    background: #2b3442;
    color: #ebf3ff;
}

.bar-stable .button.button-clear{color: #ebf3ff;}
h1.title.ng-binding{left:0px !important;}
.bar.bar-stable .title {
    color: goldenrod;
}
ion-item.item{
    color: goldenrod;
}
